@import url(https://fonts.googleapis.com/css?family=Hammersmith+One|Open+Sans);

$fontPrimary: 'Hammersmith One', sans-serif;
$fontSecondary: 'Open Sans', sans-serif;
$colorBlueDark: #004964;
$colorBlueLight: #16a5c7;
$colorGrayDark: #494949;
$colorGrayLight: #ebebeb;
$colorGray: #707070;
$colorWhite: #FFF;
$colorPink: #ec4399;
$colorWhiteAlpha: rgba(255,255,255,.3);
$colorGrayAlternative: #c1c1c1;