<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>
<body>
	<header>
		<h1><a href="/">{{title}}</a></h1>
		<nav>
			{{#each navigation}}
				<a href="{{link}}">{{text}}</a>
			{{/each}}
		</nav>
	</header>
</body>
</html>